/input.txt
/output.csv
/textToCsv
/Function_based_converter/input.txt
/Function_based_converter/output 2024-11-19.csv
/Function_based_converter/output 19-11-24_00-00.csv
/Function_based_converter/output 19-11-2024_00 00.csv
/.vscode
/.notebook